USE [MEU]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADICIONAR_VALORES_HD]    Script Date: 22/12/2018 12:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADICIONAR_VALORES_HD] 
@CAPACIDADE INT
,@EM_USO INT
,@LIVRE INT
,@FABRICANTE INT
,@PARTICAO VARCHAR(10)
,@MAC_ADDRESS VARCHAR(50)

AS
    DECLARE @ID_COMPUTADOR INT

BEGIN


	SET @ID_COMPUTADOR = (SELECT PC.ID_COMPUTADOR FROM PEEK_COMPUTADOR PC 
	INNER JOIN PEEK_MAC_ADDRESS PMA ON PC.ID_COMPUTADOR = PMA.ID_COMPUTADOR
	WHERE PMA.MAC_ADDRESS = @MAC_ADDRESS)
	

	INSERT INTO PEEK_HD(CAPACIDADE,EM_USO,LIVRE,FABRICANTE,PARTICAO,ID_COMPUTADOR)
	VALUES (@CAPACIDADE,@EM_USO,@LIVRE,@FABRICANTE,@PARTICAO,@ID_COMPUTADOR)
		
END
GO
